body {background-color:#ffe6f0;
  margin:20px;}
h1 { text-align: center;
  color:#336699;
}
h2 { color: #4d88cc;
  }
ol { background-color: #e6f2ff;
     border-radius: 10px;
  }

img { width: 700px;
      margin: 5px;
      border-radius: 10px;
}

.center-image { display: block;
                margin-left: auto;
                margin-right: auto;
}